@import "theme";

:root {
  // Colors
  --gray1: hsl(0 0% 99%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9%);

  --violet1: hsl(255 65% 99.4%);
  --violet2: hsl(252 100% 99%);
  --violet3: hsl(252 96.9% 97.4%);
  --violet4: hsl(252 91.5% 95.5%);
  --violet5: hsl(252 85.1% 93%);
  --violet6: hsl(252 77.8% 89.4%);
  --violet7: hsl(252 71% 83.7%);
  --violet8: hsl(252 68.6% 76.3%);
  --violet9: hsl(252 56% 57.5%);
  --violet10: hsl(251 48.1% 53.5%);
  --violet11: hsl(250 43% 48%);
  --violet12: hsl(254 60% 18.5%);

  --red1: hsl(359 100% 99.4%);
  --red2: hsl(359 100% 98.6%);
  --red3: hsl(360 100% 96.8%);
  --red4: hsl(360 97.9% 94.8%);
  --red5: hsl(360 90.2% 91.9%);
  --red6: hsl(360 81.7% 87.8%);
  --red7: hsl(359 74.2% 81.7%);
  --red8: hsl(359 69.5% 74.3%);
  --red9: hsl(358 75% 59%);
  --red10: hsl(358 69.4% 55.2%);
  --red11: hsl(358 65% 48.7%);
  --red12: hsl(354 50% 14.6%);

  // Layout
  --global-margins: 20px;
  --global-width: 1080px;

  // Font
  --font-family: "Inter", -apple-system, sans-serif;

  // Time
  --transition-time: 200ms;

  // UI
  --hover-opacity: 0.64;
}

body {
  color: var(--gray12);
  font-family: var(--font-family);
}
