.base {
  display: flex;
  justify-content: center;

  height: calc(100vh - 72px - 72px);
  min-height: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 var(--global-margins);
  width: var(--global-width);

  & h1 {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .base {
    height: calc(100vh - 64px - 64px);
  }
}
